a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-image {
  width: 40%;
}

.card-image img {
  height: 100%;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.card {
  background-color: rgb(60, 61, 68);
  display: flex;
  width: 600px;
  border-radius: 20px 20px 20px 20px; 
  gap: 10px;
}

.card-content {
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
section span {
  color: rgb(158, 158, 158);
  font-weight: 500;
  padding-bottom: 8px;
}
.icon {
  width: 10px;
  height: 10px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title p {
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0;
  font-size: 25px;
}

.modal-button {
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .cards-container {
    display: flex;
    justify-content: center;
    
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    
  }
  .card-image {
    object-fit: cover;
    width: 100%;
    
  }
  .card-image img {
    border-radius: 20px 20px 0px 0px;
    
  }

  .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    
  }


}
