
.search-bar-container {
    width: 100%;
    height: 70px;
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

input {
    border: none;
    padding: 10px;
    width: 80%;
    background-color: rgb(60, 61, 68);
}

button {
    border: none;
    
    background-color: rgb(60, 61, 68);
    color: white;
}


@media screen and (max-width: 600px) {
    .search-bar-container {
        width: 50%;
        
    }
}